button.add-plugin-button {
    width: 100%;
    border-bottom: none;
}

.setting-item-info:has(button.add-plugin-button) {
    display: none;
}

.setting-item.open-plugin-settings-header {
    border-top: none;
}

.setting-item.open-plugin-settings-item {
    border-top: none;
    border-bottom: 1px solid var(--background-modifier-border);
}

.setting-item.open-plugin-settings-item.disabled {
	opacity: 0.5;
	font-style: italic;
}

.setting-item.open-plugin-settings-item .setting-item-info {
    width: 20%;
}

.setting-item.open-plugin-settings-item input {
    width: 100%;
}